.container{

    display: flex;
    align-items: center;
    justify-content: center;
}
#buttons{

    color : black;
    border : none ;
    padding : 12px;
    background-color: yellow;
    border : 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    justify-content: center;
}
#image{
    
    height:  25rem;
}
.buttons_name{

    margin-top : 20px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}